<div class="rounded-xl bg-white p-8 " >
  
  <!--cabeçalho-->
  <div class="mb-6 flex items-center justify-between">
      <div>
        <h3 class="text-2xl font-bold text-slate-800">Gerenciador de Tarefas - Estudos </h3>
      </div>      
      <div>
        <button class="w-10 h-10 rounded-xl pb-1 bg-indigo-500 text-white flex items-center justify-center text-3xl hover:bg-indigo-700 cursor-pointer"
        (click)="newTask()">+</button>
      </div>
  </div>
    
  <!--grid de cards-->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 items-stretch">             
        <div class="flex flex-col">
          <h2 class="font-semibold mb-2">Para fazer</h2>
          <div id="col-todo" class="space-y-3 min-h-[200px] p-3 bg-white rounded shadow-sm" data-status="todo"
            cdkDropList
            id="todoList"
            [cdkDropListData]="getTasksByStatus('todo')"
            [cdkDropListConnectedTo]="['doingList', 'doneList']"
            class="bg-gray-300 h-full p-3 rounded shadow"
            (cdkDropListDropped)="onDrop($event, 'todo')">

            @for (task of getTasksByStatus('todo'); track task.id) {
                <app-card cdkDrag [task]="task" (edit)="onEditTask($event)" (delete)="onDeleteTask($event)"></app-card>
            }  
          </div>
        </div>

        <div class="flex flex-col">
          <h2 class="font-semibold mb-2">Em progresso</h2>
          <div id="col-done" class="space-y-3 p-3 bg-white rounded shadow-sm" data-status="done"          
            cdkDropList
            id="doingList"
            [cdkDropListData]="getTasksByStatus('doing')"
            [cdkDropListConnectedTo]="['todoList', 'doneList']"
            class="h-full bg-gray-300 p-3 rounded shadow"
            (cdkDropListDropped)="onDrop($event, 'doing')"
            >
            @for (task of getTasksByStatus('doing'); track task.id) {
                <app-card cdkDrag [task]="task" (edit)="onEditTask($event)"  (delete)="onDeleteTask($event)"></app-card>
            }  
          </div>
        </div>

        <div class="flex flex-col">
          <h2 class="font-semibold mb-2">Concluídas</h2>
          <div id="col-done" class="space-y-3 min-h-[200px] p-3 bg-white rounded shadow-sm" data-status="done"
          
          cdkDropList
          [cdkDropListData]="getTasksByStatus('done')"
          id="doneList"
          [cdkDropListConnectedTo]="['todoList', 'doingList']"
          class="h-full bg-gray-300 p-3 rounded shadow"
          (cdkDropListDropped)="onDrop($event, 'done')"
        >
            @for (task of getTasksByStatus('done'); track task.id) {
                <app-card cdkDrag [task]="task" (edit)="onEditTask($event)" (delete)="onDeleteTask($event)"></app-card>
            }  
          </div>
        </div>
      </div>

      <app-modal></app-modal><!--Modal de cadastro e edição de cards-->
</div>